/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.dropdown-menu li {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 4px 0;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555555;
  }
  .navbar ul.dropdown-menu li a {
    position: relative;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    left: 0;
  }
  .navbar ul.dropdown-menu li a:hover {
    color: var(--primary-accent);
    text-decoration: none;
    background: none;
    left: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  @media (max-width: 767px) {
    .navbar ul.dropdown-menu li a:hover {
      left: 0;
    }
  }
