/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.navbar ul.dropdown-menu li {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 4px 0;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555555;
  }
  .navbar ul.dropdown-menu li a {
    position: relative;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    left: 0;
  }
  .navbar ul.dropdown-menu li a:hover {
    color: var(--primary-accent);
    text-decoration: none;
    background: none;
    left: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  @media (max-width: 767px) {
    .navbar ul.dropdown-menu li a:hover {
      left: 0;
    }
  }

#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    width: 100vw;
    height: 53vw;/*高さを全画面にあわせる*/
} 

#video-area{
    position: static;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    /*width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    /*height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    width: 100%; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: auto;
    min-height: 100%;
    min-width: 100%;
}

#video-area-title{
    color: #444444;
    background-color:rgba(255,255,255,.4);
    font-family:"Poiret One", sans-serif;
    font-size:5rem;
    padding:17vw 0 0 0;
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    height:22vw;
}

#video-area-subtitle{
  color: #444444;
  background-color:rgba(255,255,255,.4);
  font-family:"Poiret One", sans-serif;
  font-size:3rem;
  padding:0 0 0 0;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  height:31vw;
}